<h2>Sign in</h2>



<section layout="row" layout-sm="column" layout-align="center" layout-wrap>
  <md-button class="md-raised" ng-click="vmSgn.doSignin('google', vmSgn.signinForm)">Google Sign in</md-button>
  <md-button class="md-raised" ng-click="vmSgn.doSignin('github', vmSgn.signinForm)">Github Sign in</md-button>
  <md-button class="md-raised" ng-click="vmSgn.showForm(true)">Email and password</md-button>
</section>

<div layout="column" class="md-inline-form" ng-if="vmSgn.formVisible" ng-cloak>

  <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
    <form name="vmSgn.signinForm" ng-submit="vmSgn.doSignin('password', vmSgn.signinForm)">

      <md-input-container>
        <ng-form name="emailField">
          <label>Email</label>
          <input ng-model="vmSgn.email" type="email">
        </ng-form>
      </md-input-container>

      <md-input-container>
        <ng-form name="passwordField">
          <label>Password</label>
          <input ng-model="vmSgn.password" type="password">
        </ng-form>
      </md-input-container>

      <md-input-container>
        <md-button class="md-raised md-primary" type="submit">Sign in</md-button>
      </md-input-container>

    </form>
  </md-content>
</div>

<h4>Form data</h4>
<json-formatter json="vmSgn"></json-formatter>
