<div ng-controller="ShellController as vm" layout="column" flex>

  <header layout>
    <md-toolbar layout>
      <!-- <ht-top-nav navline="vm.navline"></ht-top-nav> -->
      <h1>{{vm.navline.title}}</h1>
    </md-toolbar>
  </header>

  <div layout flex>

    <nav layout>
      <div ng-include="'app/layout/sidebar.html'" layout></div>
    </nav>

    <section>
      <md-content id="content">
        <div ui-view class="shuffle-animation"></div>
      </md-content>
    </section>

  </div>

  <div ngplus-overlay
       ngplus-overlay-delay-in="50"
       ngplus-overlay-delay-out="700"
       ngplus-overlay-animation="dissolve-animation">
    <img src="images/busy.gif"/>
    <div class="page-spinner-message overlay-message">{{vm.busyMessage}}</div>
  </div>

</div>
