
<div ng-controller="SidebarController as vm" layout flex>


  <md-sidenav layout="column" flex class="md-whiteframe-z2" md-component-id="left" when-done-animating="vm.sidebarReady()" md-is-locked-open="$mdMedia('gt-sm')">

    <md-list layout="column" flex>

      <!-- List item #1 -->
      <md-item>
        <md-button>
          <md-icon class="avatar"></md-icon>
          Lia Luogo
        </md-button>
      </md-item>

      <!-- List item #2 -->
      <md-item>
        <md-button>
          <md-icon class="avatar"></md-icon>
          Lawrence Ray
        </md-button>
      </md-item>

    </md-list>

  </md-sidenav>


</div>
