<md-toolbar>

  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Home" href="/">
      <md-icon md-font-icon="fa-home"></md-icon>
    </md-button>

    <h1>
      {{title}}
      <span ng-if="currentUser.displayName" ng-bind="currentUser.displayName"></span>
    </h1>


    <!-- expand this span to align right the next set of buttons -->
    <span flex></span>

    <md-button ng-if="!currentUser" class="md-button" aria-label="Sign in" href="/signin">
      <md-icon md-font-icon="fa-sign-in"></md-icon>Sign in
      <!-- <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon> -->
    </md-button>

    <md-button ng-if="currentUser" class="md-button" aria-label="Sign out" ng-click="signout()">
      <md-icon md-font-icon="fa-sign-out"></md-icon>Sign out
      <!-- <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon> -->
    </md-button>
  </div>

</md-toolbar>
