<div layout="column">
  <div layout="row">
    <div flex>First item in row</div>
    <div flex>Second item in row</div>
  </div>
  <div flex="66">Second item in column</div>
  <div flex="33">Third item in column</div>
</div>

<form name="formity" ng-submit="vm.doSubmit(formity)">
  <p>The formity form</p>

  <div sf-schema="vm.schema" sf-form="vm.form" sf-model="vm.model"></div>
  
  <input type="submit" value="Submit">
  <button type="button" ng-click="goBack()">Cancel</button>
</form>

<!-- <section>
  <header>
    <h1>General Typography</h1>
  </header>
  <div>
    <h1>An H1 title</h1>
    <h2>An H2 title</h2>
    <h3>An H3 title</h3>
    <h4>An H4 title</h4>
    <h5>An H5 title</h5>
    <h6>An H6 title</h6>
    <p>a lorem ipsum dolor p element</p>
  </div>
</section>

<section>
  <header>
    <h1>Heading styles</h1>
  </header>
  <div>
    <h1 class="md-display-4">Light 112px (md-display-4)</h1>
    <h1 class="md-display-3">Regular 56px (md-display-3)</h1>
    <h1 class="md-display-2">Regular 45px (md-display-2)</h1>
    <h1 class="md-display-1">Regular 34px (md-display-1)</h1>
    <h1 class="md-headline">Regular 24px (md-headline)</h1>
    <h1 class="md-title">Medium 20px (md-title)</h1>
    <h1 class="md-subhead">Regular 16px (md-subhead)</h1>
  </div>
</section>

<section>
  <header>
    <h1>Body Copy</h1>
  </header>
  <div>
    <p class="md-body-1">Regular 14px (md-body-1)</p>
    <p class="md-body-2">Medium 14px (md-body-2)</p>
    <md-button>An md-button</md-button>
    <p class="md-caption">Regular 13px (md-caption)</p>
  </div>
</section> -->
